####################################
# Bash Profile                              
#  Used for user: {{ item.username }}       
####################################

alias {{ item.username }}='ls -FGlAhp'
